@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Configuraciones principales */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    scroll-behavior: smooth;   /* Scroll de la barra de navegacion */
    scroll-snap-type: y mandatory;   /* ayuda de lectura par que sea mas rapido */
    overflow-y: scroll;    
    height: 100vh;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

h1{
    color: rgb(226, 226, 226);
    text-shadow: 1px 1px 4px #000;
    font-size: 100px;
}

.home{
    background-color: rgb(36, 164, 138);
}
.about{
    background-color: rgb(211, 79, 79);
}
.menu{
    background-color: rgb(67, 91, 175 );
}
.services{
    background-color: rgb(191, 64, 191);
}
.contact{
    background-color: rgb(155, 27, 26);
}

/* Header barra de navegacion, nav */

header{
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    padding: 30px 20px;
    background-color: orange;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    position: fixed;
    z-index: 10;
}

header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
}


