@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(variables.css);

/* ----------------------------------------------------------------------------- */
/* Configuraciones principales */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    scroll-behavior: smooth;   /* Scroll de la barra de navegacion */
    scroll-snap-type: y mandatory;   /* ayuda de lectura par que sea mas rapido */
    overflow-y: scroll;    
    height: 100vh;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

h1,h2,h3{
    color: var(--color-title);
    text-shadow: 1px 1px 4px var(--color-shadow);
}

p,h3{
    color: var(--color-lorem);
}

h1{
    font-size: 100px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 25px;
}

p{
    font-size: 15px;
}
/* ----------------------------------------------------------------------------- */
/* Header barra de navegacion, nav */

#header-principal{
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    padding: 30px 20px;
    background-color: var(--color-primary-3);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 0.7s;
    position: fixed;
    z-index: 10;
}

#header-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-principal .nav{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#header-principal .nav .nav-list{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#header-principal .nav .nav-list li{
    list-style: none;
}

#header-principal .nav .nav-list li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
}

#header-principal .nav .nav-list li:hover{
    background-color: #0a141d;
}

.abrir-menu, .cerrar-menu{
    display: none;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
    color: var(--color-primary-2);
}

/* ----------------------------------------------------------------------------- */
/* Seccion home - principal */

.home{
    background-color: var(--color-primary-3);
}

#titulo-home{
    width: 40%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#titulo-home label{
    width: 150px;
    height: 55px;
}

#titulo-home label button{
    margin-top: 20px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#titulo-home label button:hover{
    color: var(--color-hover);
}

#image-home{
    width: 50%;
    max-width: 1000px;
    min-width: 320px;
    margin: 20px;
}

#image-home img{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
}

/* ----------------------------------------------------------------------------- */
/* Seccion About - secundaria - informacion sobre la empresa */

.about{
    background-color: var(--color-primary);
    flex-direction: row-reverse;
}

#about-img{
    width: 50%;
    max-width: 1000px;
    min-width: 320px;
    margin: 20px;
}

#about-img img{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
}

#about-text{
    width: 50%;
    height: auto;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#about-text label{
    width: 150px;
    height: 55px;
}

#about-text label button{
    margin-top: 20px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#about-text label button:hover{
    color: var(--color-hover);
}

/* ----------------------------------------------------------------------------- */
/* Seccion Menu - comidas y principales platillos */

.menu{
    background-color: var(--color-primary);
    flex-direction: column;
}

#menu-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#menu-list li{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 5px;
}

#menu-list li figure img{
    width: 400px;
    height: 400px;
}

/* ----------------------------------------------------------------------------- */
/* Seccion Services - servicios que ofrece la empresa */

.services{
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
}

#services-item{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#services-item article{
    width: auto;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

#services-item article p{
    text-align: justify;
    color: var(--color-title);
}

#services-item article img{
    width: 400px;
    height: 400px;
}

/* ----------------------------------------------------------------------------- */
/* Seccion video */

.video{
    background-color: var(--color-background);
}

#video-food{
    width: 70%;
}

/* ----------------------------------------------------------------------------- */
/* Ubicacion */

.ubicacion{
    background-color: var(--color-background);
}

#mapa-location{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#mapa{
    width: 100%;
    height: 500px;
}

/* ----------------------------------------------------------------------------- */
/* Seccion contact - footer */

.contact{
    height: 600px;
    width: 100%;
    background-color: #0a141d;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box-img .logo-img-footer{
    width: 400px;
    height: 400px;
}

.pie-pagina .grupo-1 .navegacion{
    list-style: none;
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
}

.pie-pagina .grupo-1 .navegacion a:hover{
    color: var(--color-hover);
}

.pie-pagina .grupo-1 .box-footer h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box-footer p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: var(--color-hover);
}

.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}

/* ----------------------------------------------------------------------------- */
/* RESPONSIVE DESIGN */


/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* MAX-WIDTH: 1024px */

@media screen and (min-width: 801px) and (max-width: 1024px){
    /* --------------------- */
    /* seccion home */

    /* --------------------- */
    /* seccion menu */
    #menu-list li{
        margin: 0;
    }
    #menu-list li figure img{
        width: 320px;
        height: 400px;
    }
    /* --------------------- */
    /* seccion servicios */
    #services-item article{
        margin: 15px;
        padding: 0;
    }
    #services-item article img{
        width: 300px;
        height: 400px;
    }
    
    /* -------------------- */
    /* video */

    #video-food{
        width: 90%;
    }
}
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* MAX-WIDTH: 800px */

@media screen and (min-width:551px) and (max-width:800px){

    html h1{
        font-size: 50px;
    }
    html h2{
        font-size: 25px;
    }
    html h3{
        font-size: 18px;
    }
    html p{
        font-size: 15px;
    }

    /* -------------------- */
    /* navbar header */
    
    #header-principal .nav{
        font-size: 12px;
    }

    #header-principal .nav .nav-list li a{
        margin: 7px;
        letter-spacing: 0;
    }

    /* -------------------- */
    /* Seccion home */

    #seccion-home{
        flex-direction: column;
    }
    
    #titulo-home{
        width: 80%;
        height: auto;
        margin-bottom: 30px;
    }
   
    /* -------------------- */
    /* Seccion about us */

    #seccion-about{
        flex-direction: column;
        justify-content: center;
    }

    #about-text{
        margin-top: 20px;
        width: 80%;
        height: auto;
    }

    #about-text label{
        margin-top: 20px;
        width: 200px;
        height: 50px;
    }
    
    /* -------------------- */
    /* Seccion menu */

    #menu-list{
        margin-top: 10px;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    #menu-list li{
        width: 100%;
        height: auto;
        margin-top: 10px;
        margin: 0;
    }

    #menu-list li figure img{
        width: 100%;
        height: 100px;
    }

    /* -------------------- */
    /* Seccion services */

    #seccion-services{
        flex-direction: column;
    }

    #services-item{
        flex-direction: column;
    }

    #services-item article{
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        margin-top: 10px;
    }

    #services-item article img{
        width: 40%;
        height: 100px;
    }

    /* -------------------- */
    /* frase */

    #video-food{
        width: 90%;
    }

    /* -------------------- */
    /* Mapa */

    #mapa-location iframe{
        width: 80%;
        height: 500px;
    }

    /* -------------------- */
    /* footer */

    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
        margin-top: 10px;
        text-align: center;
    }
}

/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* MAX-WIDTH: 550px */

@media screen and (min-width: 320px) and (max-width:550px){

    html h1{
        font-size: 40px;
    }
    html h2{
        font-size: 25px;
    }
    html h3{
        font-size: 18px;
    }
    html p{
        font-size: 15px;
    }

    /* -------------------- */
    /* navbar header */
    
    header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }

    .abrir-menu,
    .cerrar-menu{
        display: block;
    }

    .nav{
        opacity: 0;
        visibility: hidden;
    }
    
    .nav{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: flex-start;
        gap: 1rem;
        right: 0;
        top: 0;
        position: absolute;
        background-color: var(--color-background);
        padding: 2rem;
        box-shadow: 0 0 0 2vmax rgba(0, 0, 0, .5);
    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
        height: 50vh;
        width: 30%;
    }

    .nav-list{
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a{
        color: var(--color-primary-2);
    }
    
    /* -------------------- */
    /* Seccion home */

    #seccion-home{
        flex-direction: column;
    }
    
    #titulo-home{
        width: 100%;
        height: auto;
    }

    #titulo-home label{
        width: 100px;
        height: 30px;
    }

    #titulo-home label button{
        font-size: 10px;
    }

    /* -------------------- */
    /* Seccion about us */

    #seccion-about{
        flex-direction: column;
    }

    #about-text{
        width: 90%;
        height: auto;
    }
    
    #about-text label{
        width: 100px;
        height: 30px;
    }

    /* -------------------- */
    /* Seccion menu */

    #menu-list{
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #menu-list li{
        width: 100%;
        height: auto;
        margin: 0;
    }

    #menu-list li figure img{
        width: 100%;
        height: 100px;
    }

    /* -------------------- */
    /* Seccion services */

    .services{
        justify-content: flex-start;
    }

    #services-item{
        flex-direction: column;
        align-items: center;
    }

    #services-item article{
        width: 100%;
        height: auto;
        margin-top: 30px;
        margin: 0;
        padding: 0;
    }

    #services-item article img{
        width: 50%;
        height: 70px;
    }

    /* -------------------- */
    /* video */

    #video-food{
        width: 90%;
    }

    /* -------------------- */
    /* Mapa */

    #mapa-location h2{
        font-size: 40px;
        margin-bottom: 10px;
    }

    #mapa-location iframe{
        width: 60%;
        height: 400px;
    }

    /* -------------------- */
    /* footer */

    .pie-pagina .grupo-1{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        text-align: justify;
        margin-left: 20px;
        margin-top: 0;
        padding: 15px 0px;
        grid-gap: 10px;
        top: 0;
    }

    .pie-pagina .grupo-1 .navegacion li{
        font-size: 12px;
    }

    .pie-pagina .grupo-1 .box-footer h2{
        font-size: 15px;
        margin-bottom: 10px;
    }

    .pie-pagina .grupo-1 .box-footer p{
        font-size: 12px;
        margin-bottom: 0;
    }

    .pie-pagina .grupo-1 .red-social{
        text-align: center;
    }
}