@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(variables.css);

/* ----------------------------------------------------------------------------- */
/* Configuraciones principales */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    scroll-behavior: smooth;   /* Scroll de la barra de navegacion */
    scroll-snap-type: y mandatory;   /* ayuda de lectura par que sea mas rapido */
    overflow-y: scroll;    
    height: 100vh;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*  scroll-snap-align: start;  Fija las paginas  y colabora al usuario    */
}

h1{
    color: var(--color-title);
    text-shadow: 1px 1px 4px var(--color-shadow);
    font-size: 100px;
}

h2{
    color: var(--color-title);
    text-shadow: 1px 1px 4px var(--color-shadow);
    font-size: 40px;
}

h3{
    color: var(--color-lorem);
    font-size: 25px;
}

p{
    color: var(--color-lorem);
    font-size: 15px;
}


/* ----------------------------------------------------------------------------- */
/* Header barra de navegacion, nav */

header{
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    padding: 30px 20px;
    background-color: var(--color-primary-3);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 0.7s;
    position: fixed;
    z-index: 10;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div{
    margin: 10px;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header div h2{
    font-size: 40px;
    font-weight: 200;
}

header div img{
    margin-top: 12px;
    width: 100px;
    height: 100px;
}

header nav{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav ul{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
}

header nav ul li:hover{
    background-color: #0a141d;
}

.abrir-menu, .cerrar-menu{
    display: none;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
    color: var(--color-primary-2);
}

/* ----------------------------------------------------------------------------- */
/* Seccion home - principal */

.home{
    background-color: var(--color-primary-3);
    display: flex;
    align-items: center;
    justify-content: center;
}

#titulo-home{
    width: 40%;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#titulo-home label{
    width: 150px;
    height: 55px;
}

#titulo-home label button{
    margin-top: 20px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#titulo-home label button:hover{
    color: var(--color-hover);
}

#image-home{
    width: 40%;
    margin: 10px;
}

#image-home img{
    width: 700px;
    height: 500px;
}


/* ----------------------------------------------------------------------------- */
/* Seccion About - secundaria - informacion sobre la empresa */

.about{
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#about-img{
    width: 40%;
    margin: 10px;
    display: flex;
    justify-content: flex-start;
}

#about-img img{
    width: 100%;
    height: 700px;
}

#about-text{
    width: 40%;
    height: 500px;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#about-text label{
    width: 150px;
    height: 55px;
}

#about-text label button{
    margin-top: 20px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#about-text label button:hover{
    color: var(--color-hover);
}


/* ----------------------------------------------------------------------------- */
/* Seccion Menu - comidas y principales platillos */


.menu{
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
}

#menu-text{
    width: 100%;
    height: 100px;
    display: flex;
    text-align: center;
    flex-direction: column;
    
}

#menu-img{
    margin-top: 50px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#menu-img div{
    width: 30%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 3px;
}

#menu-img img{
    width: 400px;
    height: 400px;
}


/* ----------------------------------------------------------------------------- */
/* Seccion Services - servicios que ofrece la empresa */

.services{
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
}

#services-text{
    width: 90%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#services-img{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#services-img div{
    width: 30%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

#services-img div p{
    margin-top: 10px;
    color: var(--color-title);
    text-align: justify;
    margin: 10px;
}

.services img{
    width: 400px;
    height: 400px;
}


/* ----------------------------------------------------------------------------- */
/* Seccion frase */

.frase{
    background-color: var(--color-primary);
}

.frase-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #0a1a2a;
    padding: 20px;
}

/* ----------------------------------------------------------------------------- */
/* Ubicacion */

.ubicacion{
    background-color: var(--color-background);
}

#mapa-location{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#mapa{
    width: 100%;
    height: 500px;
}


/* ----------------------------------------------------------------------------- */
/* Seccion contact - footer */

.contact{
    height: 600px;
    width: 100%;
    background-color: #0a141d;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box-img .logo-img-footer{
    width: 400px;
    height: 400px;
}

.pie-pagina .grupo-1 .navegacion{
    list-style: none;
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
}

.pie-pagina .grupo-1 .navegacion a:hover{
    color: var(--color-hover);
}

.pie-pagina .grupo-1 .box-footer h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box-footer p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: var(--color-hover);
}

.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}

/* ----------------------------------------------------------------------------- */
/* RESPONSIVE DESIGN */

/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* MAX-WIDTH: 800px */

@media screen and (max-width:800px){

    /* -------------------- */
    /* navbar header */
    
    header h2{
        font-size: 20px;
    }

    header nav{
        font-size: 10px;
    }

    header nav ul li a{
        margin: 10px;
        letter-spacing: 0;
    }

    /* -------------------- */
    /* Seccion home */

    #titulo-home h2{
        font-size: 25px;
    }

    #image-home img{
        width: 100%;
        height: 300px;
    }

    /* -------------------- */
    /* Seccion about us */

    #about-img img{
        width: 100%;
        height: 500px;
    }

    #about-text h1{
        font-size: 45px;
        margin-bottom: 10px;
    }

    /* -------------------- */
    /* Seccion menu */

    #menu-text h1{
        margin-top: 30px;
        font-size: 40px;
    }

    #menu-img img{
        width: 100%;
        height: 200px;
    }

    #menu-img h3{
        font-size: 18px;
    }

    /* -------------------- */
    /* Seccion services */

    #services-text h1{
        font-size: 40px;
        margin-top: 30px;
    }

    #services-img div img{
        width: 100%;
        height: 200px;
    }

    #services-img div h2{
        font-size: 18px;
    }

    #services-img div p{
        font-size: 10px;
    }
    
    /* -------------------- */
    /* frase */

    .frase-text h1{
        font-size: 50px;
        text-align: center;
    }

    /* -------------------- */
    /* Mapa */

    #mapa-location h2{
        font-size: 40px;
        margin-bottom: 10px;
    }

    #mapa-location iframe{
        width: 60%;
        height: 400px;
    }

    /* -------------------- */
    /* footer */

    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
        margin-top: 10px;
        text-align: center;
    }
}

/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* MAX-WIDTH: 550px */

@media screen and (max-width:550px){

    /* -------------------- */
    /* navbar header */
    
    header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
    }

    .abrir-menu, 
    .cerrar-menu{
        display: block;
    }

    .nav{
        opacity: 0;
        visibility: hidden;
    }
    
    .nav{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: flex-start;
        gap: 1rem;
        position: absolute;
        right: 0;
        top: 0;
        background-color: var(--color-background);
        padding: 2rem;
        box-shadow: 0 0 0 2vmax rgba(0, 0, 0, .5);
    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
        height: 50vh;
        width: 30%;
    }

    .nav-list{
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a{
        color: var(--color-primary-2);
    }
    
    /* -------------------- */
    /* Seccion home */

    #seccion-home{
        flex-direction: column;
    }
    
    #titulo-home{
        margin-top: 15px;
        width: 90%;
    }

    #titulo-home h2{
        font-size: 15px;
    }

    #titulo-home label{
        width: 100px;
        height: 30px;
    }

    #titulo-home label button{
        font-size: 10px;
    }

    #image-home{
        width: 100%;
    }

    #image-home img{
        margin-top: 50px;
        width: 90%;
        height: 200px;

    }

    /* -------------------- */
    /* Seccion about us */

    #seccion-about{
        flex-direction: column-reverse;
    }

    #about-text{
        margin-top: 60px;
        width: 90%;
    }
    
    #about-img{
        width: 100%;
    }

    #about-img img{
        width: 100%;
        height: 300px;
    }

    #about-text h1{
        font-size: 35px;
        margin-bottom: 10px;
    }

    #about-text label{
        width: 100px;
        height: 30px;
    }

    /* -------------------- */
    /* Seccion menu */

    #menu-text{
        height: 50px;
    }

    #menu-text h1{
        margin-top: 0px;
        font-size: 35px;
    }

    #menu-img{
        margin-top: 0;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #menu-img div{
        height: 150px;
        margin: 0;
        padding: 0;
        margin: 10px;
    }

    #menu-img img{
        width: 100%;
        height: 100px;
    }

    #menu-img h3{
        font-size: 10px;
    }

    /* -------------------- */
    /* Seccion services */

    #seccion-services div{
        flex-direction: column;
    }

    #services-text{
        height: auto;
    }

    #services-text h1{
        font-size: 40px;
        margin-top: 0;
    }

    #services-img div{
        width: 100%;
        height: 150px;
        margin: 0;
        padding: 0;
        margin-top: 10px;
    }

    #services-img div img{
        width: 50%;
        height: 70px;
    }

    #services-img div h2{
        font-size: 18px;
    }

    #services-img div p{
        font-size: 10px;
    }
    
    /* -------------------- */
    /* frase */

    .frase-text h1{
        font-size: 50px;
        text-align: center;
    }

    /* -------------------- */
    /* Mapa */

    #mapa-location h2{
        font-size: 40px;
        margin-bottom: 10px;
    }

    #mapa-location iframe{
        width: 60%;
        height: 400px;
    }

    /* -------------------- */
    /* footer */

    .pie-pagina .grupo-1{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        text-align: justify;
        margin-left: 20px;
        margin-top: 0;
        padding: 15px 0px;
        grid-gap: 10px;
        top: 0;
    }

    .pie-pagina .grupo-1 .navegacion li{
        font-size: 12px;
    }

    .pie-pagina .grupo-1 .box-footer h2{
        font-size: 15px;
        margin-bottom: 10px;
    }

    .pie-pagina .grupo-1 .box-footer p{
        font-size: 12px;
        margin-bottom: 0;
    }

    .pie-pagina .grupo-1 .red-social{
        text-align: center;
    }
}

/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* MAX-WIDTH: 550px */

@media screen and (max-width:1024px){

    /* -------------------- */
    /* navbar header */
    
    header h2{
        font-size: 30px;
    }

    header nav{
        font-size: 15px;
    }

    header nav ul li a{
        margin: 20px;
        letter-spacing: 2px;
    }

    /* -------------------- */
    /* Seccion home */

    #titulo-home h2{
        font-size: 28px;
    }

    #image-home img{
        width: 100%;
        height: 320px;
    }

    /* -------------------- */
    /* Seccion about us */

    #about-img img{
        width: 100%;
        height: 600px;
    }

    #about-text h1{
        font-size: 45px;
        margin-bottom: 10px;
    }

    /* -------------------- */
    /* Seccion menu */

    #menu-text h1{
        margin-top: 80px;
        font-size: 40px;
    }

    #menu-img img{
        width: 100%;
        height: 200px;
    }

    #menu-img h3{
        font-size: 18px;
    }

    /* -------------------- */
    /* Seccion services */

    #services-text h1{
        font-size: 50px;
        margin-top: 80px;
    }

    #services-img div img{
        width: 100%;
        height: 200px;
    }

    #services-img div h2{
        font-size: 25px;
    }

    #services-img div p{
        font-size: 15px;
    }
    
    /* -------------------- */
    /* frase */

    .frase-text h1{
        font-size: 50px;
        text-align: center;
    }

    /* -------------------- */
    /* Mapa */

   

    /* -------------------- */
    /* footer */

    .contact{
        height: 420px;
    }
}