:root{
    --color-background:#373234;
    --color-primary:#E8DCCC;
    --color-primary-2:#F3ECE4;
    --color-primary-3:#D84339;
    --color-title:#EEEEEE;
    --color-lorem:#0F0F0F;
    --color-hover:red;
    --color-shadow:#0F0F0F;
}

::selection{
    background-color: var(--color-primary-2);
    color: var(--color-background);
}